
.container
	.row
		.page-header
			h1 #{title}
			small movie
.navbar.navbar-default.navbar-fixed-bottom
	.container
			.navbar-header
			a.navbar-brand(href="/") scientific movie fan
		if user
			p.navbar-text.navbar-right
			span Welcome you
			span &nbsp;|&nbsp;
			a.navbar-link(href="/logout") Logout
		else
			p.navbar-text.navbar-right
				a.navbar-link(href="#",data-toggle="modal",data-target="#signupModal") Sign up
				span &nbsp;|&nbsp;
				a.navbar-link(href="#",data-toggle="modal",data-target="#signinModal") Sign in

#signupModal.modal.fade
	.modal-dialog
		.modal-content
			form(method="post",action="/user/signup/")
				.modal-header Sign up
				.modal-body
				.form-group
					label(for="signupName") Username
					input#signupName.form-control(name="user[name]",type="text")
				.form-group
					label(for="signupPassword") Password
					input#signupPassword.form-control(name="user[password]",type="text")
				.modal-footer  //- it should be 'modal' not 'model'
				button.btn.btn-default(type="button",data-dismiss="modal") Close
				button.btn.btn-default(type="submit") submit



#signinModal.modal.fade
	.modal-dialog
		.modal-content
			form(method="post",action="/user/signin/")
				.modal-header Sign in
				.modal-body
				.form-group
					label(for="signinName") Username
					input#signinName.form-control(name="user[name]",type="text")
				.form-group
					label(for="signinPassword") Password
					input#signinPassword.form-control(name="user[password]",type="text")
				.modal-footer   //- be careful with the indent
				button.btn.btn-default(type="button",data-dismiss="modal") Close
				button.btn.btn-default(type="submit") submit
